
.card {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
  
  .card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .left-content {
    flex-grow: 1;
  }
  
  .right-content {
    margin-left: 20px;
  }
  
  .heading {
    font-size: 24px;
    color: #333;
    font-weight: bold;
  }
  
  .add-button {
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #23527c;
  }
  .input-container {
    position: relative;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #dddddd;
    background-color: #f8f8f8;
    color: #333333;
  }
  
  .input-field:focus {
    outline: none;
    border-bottom-color: #ff8c00;
  }
  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  .mat-mdc-cell {
    background: inherit;
    text-align: center;
  }
  .mdc-data-table__cell {
    box-sizing: border-box;
    overflow: hidden;
    /* text-align: left; */
    text-overflow: ellipsis;
    text-align: center;
  }