.container{
    width:500px
  }
  .header{
    text-align: center;
    align-items: center;
    height:50px;
    
      
      background-size: cover;
      padding-top: 10pxpx;
      text-align: center;
      color: #fff;
      font-family: "Arial", sans-serif;
      font-size: 35px;
      font-weight: 700;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    
  }
  .header h2{
    padding-top: 10px;
    padding-bottom: 5px;
    color: #fff;
    font-family: "Arial", sans-serif;
    font-size: 32px;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .form-group .formGroupExampleInput{
    text-align: center;
  }
  .row{
    text-align: center;
    align-items: center;
    justify-content: center;
   
    padding-bottom: 8px;
  }
  .form-group label {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .btn {
    background-color: #f44336;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #e53935;
  }
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }