<div class="container">
    <div class="row">
      <div class="col-12 header" style="background-image: url(../assets/cafe/bg.png);">
        <h2>GET PASSWORD</h2>
      </div>
    </div>
    <form [formGroup]="forgotPasswordForm" autocomplete="off">
      <div class="row">
        <div class="form-group col-6">
          <label >Email</label>
          <input type="text" class="form-control"  placeholder="EMAIL" formControlName="email">
          <div *ngIf="forgotPasswordForm.get('email').invalid && forgotPasswordForm.get('email').touched" class="error-message">
            Email is required.
          </div>
        </div>
      </div>
      <div class="row" style="padding-bottom: 15px;">
        <div class="col-6">
          <button type="submit" class="btn" [disabled]="forgotPasswordForm.invalid" (click)="onsubmit()">Submit</button>
        
        
        </div>
        
      </div>
      </form>
